  .popup {
      position: fixed;
      padding: 10px;
      background-color: #f0f0f0;
      border: 1px solid #ccc;
      border-radius: 5px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
      transition: opacity 0.5s;


      .anxiety-text {
          font-family: Arial, sans-serif;
          font-size: 24px;
          text-align: center;
          margin-top: 20px;
      }
  }

  .floating-distraction {
      position: fixed;
      font-size: 2rem;
      pointer-events: none;
      z-index: 1000;
      transition: transform 0.3s ease;
  }

  .flashing-effect {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(255, 0, 0, 0.5);
      animation: flashAnimation 1s infinite alternate;
      pointer-events: none;
      box-sizing: border-box;
  }

  @keyframes flashAnimation {
      0% {
          opacity: 0.5;
          transform: scale(1);
      }

      100% {
          opacity: 6;
          transform: scale(1.05);
      }
  }

  /* Anxiety Effects */
  .anxiety-popup {
      position: fixed;
      padding: 15px 25px;
      background: rgba(255, 255, 255, 0.95);
      border: 2px solid #ff6b6b;
      border-radius: 8px;
      box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
      z-index: 1000;
      transition: opacity 0.5s ease;
      animation: shake 0.5s infinite;
  }

  @keyframes shake {

      0%,
      100% {
          transform: translateX(0);
      }

      25% {
          transform: translateX(-5px);
      }

      75% {
          transform: translateX(5px);
      }
  }

  .popupTime {
      position: fixed;
      padding: 10px;
      background-color: #777575;
      border: 1px solid #ccc;
      border-radius: 5px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
      transition: opacity 0.5s;

      .anxiety-text {
          font-family: Arial, sans-serif;
          font-size: 24px;
          text-align: center;
          margin-top: 20px;
          color: rgb(192, 191, 175);
      }
  }